.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;

	&__content {
		background-color: #f6efcc;
		color: #010101;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		width: 500px;
		position: relative;
	}
	&__header {
		background-color: #f8e790;
		margin: 0;
		padding: 20px;
		font-size: 22px;
		
	}
	&__xbtn {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__name {
		margin: 20px 0px 5px 0px;
		padding: 5px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}
	&__text {
		margin: 5px 0;
		text-align: center;
		padding: 5px;
		font-size: 18px;
	}

	&__btn {
		display: flex;
		gap: 35px;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
	}
}

.btn-ok, .btn-cancel {
	background-color: #ffd500;
	color: #010101;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}